.signinbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.signincontainer {
  width: 350px;
  height: 450px;
  padding: 20px;
  background-color: rgba(222, 222, 222, 0.523);
  margin-top: 10%;
}

.signincontainer h1 {
	margin-top: -10px;
	text-align: center;
	font-weight: bold;
}

.signinbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.idbox {
	width: 300px;
	height: 40px;
	border-radius: 5px;
	border: none;
}

.passwordbox {
	width: 300px;
	height: 40px;
	border-radius: 5px;
	border: none;
}

.signinbuttonbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.signinbutton {
	width: 100px;
	height: 40px;
	margin-right: 40px;
	border: none;
	background-color: cornflowerblue;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	
}

.signinbutton:hover,
.backbutton:hover {
	background-color: rgba(137, 108, 233);
}

.backbutton {
	width: 100px;
	height: 40px;
	border: none;
    background-color: cornflowerblue;
    border-radius: 5px;
    font-size: 20px;
	color: white;
	font-weight: bold;
}

hr {
	margin-top: 30px;
	margin-bottom: 20px;
}

.othersigninbuttonbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kakaobutton {
	width: 300px;
	height: 40px;
	border: none;
	background-color: rgba(255, 223, 0);
	border-radius: 5px;
	margin-bottom: 20px;
	color: rgba(59, 29, 27);
	font-size: 25px;
	font-weight: bold;
}

.googlebutton {
	width: 300px;
	height: 40px;
	border: none;
	background-color: rgba(250, 94, 105);
	border-radius: 5px;
	color: white;
	font-size: 25px;
	font-weight: bold;
}